/* css initialization/ reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* this upper code is standard because default has some margin and padding  */


/* 
    shortcut:
     border: border-width-value border-style-value border-color-value:


    specific position properties:
     border-top:  border-width-value border-style-value border-color-value;
​
        border-right: border-width-value border-style-value border-color-value;
​
        border-bottom: border-width-value border-style-value border-color-value;
​
        border-left: border-width-value border-style-value border-color-value;
​
    BORDER STYLE:
        solid
        dotted
        dashed
        double
        groove
        ridge
        inset
        outset
​
    BORDER RADIUS:
        border-radius: value;
*/
​
p{
    width: 300px;
    margin: 20px auto;
    /* auto ~~ will center the content */
    padding: 20px;
}
​
.solid{
    border: 10px solid tomato;
}
​
.dotted{
    border: 10px dotted teal;
}
​
.dashed{
    border: 10px dashed yellow;
}
​
.double{
    border: 10px double slategray;
}
​
.groove{
    border: 10px groove dodgerblue;
}
​
.ridge{
    border: 10px ridge pink;
}
​
.inset{
    border: 10px inset green;
}
​
.outset{
    border: 10px outset gold;
}
​
.radius{
    border: 10px solid black;
    border-radius: 50px;
    /* border-radius can use % and px */
}
